tests/SimpleTests.txt
[
    {
        "id": "606e30f5.d7d03",
        "type": "inject",
        "z": "f95fc314.4636b",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 415,
        "wires": [
            [
                "b9720fe.286d4f",
                "89b22e33.f975",
                "953e8a03.fc8158",
                "fee84be7.b5ec08",
                "2ce1f268.2c8a6e",
                "1bd39b.903e2c65",
                "78c4e4ac.1a6b6c",
                "7688e9fc.b24418",
                "e5a7d816.a06358",
                "da3442d3.67bac",
                "7a8ac6e8.811308",
                "7181d2f1.dc45fc",
                "13cf949b.7107bb",
                "804ff88f.dde3c8",
                "1dab2fd1.b3b04",
                "218a29a7.026786"
            ]
        ]
    },
    {
        "id": "b9720fe.286d4f",
        "type": "AWS EC2",
        "z": "f95fc314.4636b",
        "aws": "bec2452f.03a118",
        "operation": "DescribeInstances",
        "ReservedInstanceIds": "",
        "ServiceId": "",
        "VpcEndpointIds": "",
        "AvailabilityZone": "",
        "InstanceType": "",
        "Quantity": "",
        "NetworkInterfaceId": "",
        "DhcpOptionsId": "",
        "VpcId": "",
        "IamInstanceProfile": "",
        "InstanceId": "",
        "RouteTableId": "",
        "SubnetId": "",
        "Ipv6CidrBlock": "",
        "Groups": "",
        "InternetGatewayId": "",
        "DeviceIndex": "",
        "Device": "",
        "VolumeId": "",
        "VpnGatewayId": "",
        "GroupId": "",
        "Storage": "",
        "BundleId": "",
        "ConversionTaskId": "",
        "ExportTaskId": "",
        "ReservedInstancesListingId": "",
        "SpotFleetRequestIds": "",
        "TerminateInstances": "",
        "SpotInstanceRequestIds": "",
        "ProductCode": "",
        "SourceFpgaImageId": "",
        "SourceRegion": "",
        "Name": "",
        "SourceImageId": "",
        "SourceSnapshotId": "",
        "BgpAsn": "",
        "PublicIp": "",
        "Type": "",
        "DhcpConfigurations": "",
        "LaunchTemplateConfigs": "",
        "TargetCapacitySpecification": "",
        "DeliverLogsPermissionArn": "",
        "LogGroupName": "",
        "ResourceIds": "",
        "ResourceType": "",
        "TrafficType": "",
        "InputStorageLocation": "",
        "KeyName": "",
        "LaunchTemplateName": "",
        "LaunchTemplateData": "",
        "AllocationId": "",
        "Egress": "",
        "NetworkAclId": "",
        "Protocol": "",
        "RuleAction": "",
        "RuleNumber": "",
        "Permission": "",
        "GroupName": "",
        "Strategy": "",
        "ClientToken": "",
        "InstanceCount": "",
        "PriceSchedules": "",
        "ReservedInstancesId": "",
        "Description": "",
        "Bucket": "",
        "CidrBlock": "",
        "Resources": "",
        "Tags": "",
        "ServiceName": "",
        "ConnectionNotificationArn": "",
        "ConnectionEvents": "",
        "NetworkLoadBalancerArns": "",
        "CustomerGatewayId": "",
        "DestinationCidrBlock": "",
        "VpnConnectionId": "",
        "EgressOnlyInternetGatewayId": "",
        "FleetIds": "",
        "FlowLogIds": "",
        "FpgaImageId": "",
        "Versions": "",
        "NatGatewayId": "",
        "NetworkInterfacePermissionId": "",
        "SnapshotId": "",
        "ConnectionNotificationIds": "",
        "ServiceIds": "",
        "VpcPeeringConnectionId": "",
        "ImageId": "",
        "FleetId": "",
        "StartTime": "",
        "Attribute": "",
        "PrincipalArn": "",
        "FirstSlotStartTimeRange": "",
        "Recurrence": "",
        "SpotFleetRequestId": "",
        "AttachmentId": "",
        "GatewayId": "",
        "AssociationId": "",
        "HostIdSet": "",
        "OfferingId": "",
        "Platform": "",
        "PublicKeyMaterial": "",
        "Image": "",
        "Volume": "",
        "AutoPlacement": "",
        "HostIds": "",
        "Resource": "",
        "UseLongIds": "",
        "InstanceCreditSpecifications": "",
        "ReservedInstancesIds": "",
        "TargetConfigurations": "",
        "VpcEndpointId": "",
        "ConnectionNotificationId": "",
        "InstanceTenancy": "",
        "InstanceIds": "",
        "ReservedInstancesOfferingId": "",
        "PurchaseRequests": "",
        "Instances": "",
        "ReasonCodes": "",
        "Status": "",
        "SpotFleetRequestConfig": "",
        "MaxCount": "",
        "MinCount": "",
        "LaunchSpecification": "",
        "ScheduledInstanceId": "",
        "Ipv6Addresses": "",
        "PrivateIpAddresses": "",
        "IpPermissions": "",
        "name": "",
        "x": 410,
        "y": 55,
        "wires": [
            [
                "d809bf2d.0ffc7"
            ]
        ]
    },
    {
        "id": "89b22e33.f975",
        "type": "AWS Kinesis",
        "z": "f95fc314.4636b",
        "aws": "d1cbc8ff.c2fcb8",
        "operation": "ListStreams",
        "StreamName": "",
        "Tags": "",
        "ShardCount": "",
        "RetentionPeriodHours": "",
        "ShardLevelMetrics": "",
        "ShardIterator": "",
        "ShardId": "",
        "ShardIteratorType": "",
        "ShardToMerge": "",
        "AdjacentShardToMerge": "",
        "Data": "",
        "PartitionKey": "",
        "Records": "",
        "TagKeys": "",
        "ShardToSplit": "",
        "NewStartingHashKey": "",
        "EncryptionType": "",
        "KeyId": "",
        "TargetShardCount": "",
        "ScalingType": "",
        "name": "",
        "x": 390,
        "y": 95,
        "wires": [
            [
                "48e1c34c.1c1fbc"
            ]
        ]
    },
    {
        "id": "953e8a03.fc8158",
        "type": "AWS Lambda",
        "z": "f95fc314.4636b",
        "aws": "d1cbc8ff.c2fcb8",
        "operation": "ListFunctions",
        "FunctionName": "",
        "StatementId": "",
        "Action": "",
        "Principal": "",
        "Name": "",
        "FunctionVersion": "",
        "EventSourceArn": "",
        "StartingPosition": "",
        "Runtime": "",
        "Role": "",
        "Handler": "",
        "Code": "",
        "UUID": "",
        "InvokeArgs": "",
        "Resource": "",
        "ReservedConcurrentExecutions": "",
        "Tags": "",
        "TagKeys": "",
        "name": "",
        "x": 400,
        "y": 135,
        "wires": [
            [
                "85f8e747.cdb1f8"
            ]
        ]
    },
    {
        "id": "fee84be7.b5ec08",
        "type": "AWS S3",
        "z": "f95fc314.4636b",
        "aws": "d1cbc8ff.c2fcb8",
        "operation": "ListBuckets",
        "Bucket": "",
        "Key": "",
        "UploadId": "",
        "CopySource": "",
        "Id": "",
        "Delete": "",
        "AccelerateConfiguration": "",
        "AnalyticsConfiguration": "",
        "CORSConfiguration": "",
        "ServerSideEncryptionConfiguration": "",
        "InventoryConfiguration": "",
        "BucketLoggingStatus": "",
        "MetricsConfiguration": "",
        "NotificationConfiguration": "",
        "Policy": "",
        "ReplicationConfiguration": "",
        "RequestPaymentConfiguration": "",
        "Tagging": "",
        "VersioningConfiguration": "",
        "WebsiteConfiguration": "",
        "PartNumber": "",
        "name": "",
        "x": 380,
        "y": 175,
        "wires": [
            [
                "fc8c0fa6.c8526"
            ]
        ]
    },
    {
        "id": "2ce1f268.2c8a6e",
        "type": "AWS DynamoDB",
        "z": "f95fc314.4636b",
        "aws": "d1cbc8ff.c2fcb8",
        "operation": "ListTables",
        "RequestItems": "",
        "TableName": "",
        "BackupName": "",
        "GlobalTableName": "",
        "ReplicationGroup": "",
        "AttributeDefinitions": "",
        "KeySchema": "",
        "ProvisionedThroughput": "",
        "BackupArn": "",
        "Key": "",
        "ResourceArn": "",
        "Item": "",
        "TargetTableName": "",
        "Tags": "",
        "TagKeys": "",
        "ReplicaUpdates": "",
        "TimeToLiveSpecification": "",
        "name": "",
        "x": 400,
        "y": 215,
        "wires": [
            [
                "68e46321.24269c"
            ]
        ]
    },
    {
        "id": "1bd39b.903e2c65",
        "type": "AWS SNS",
        "z": "f95fc314.4636b",
        "aws": "d1cbc8ff.c2fcb8",
        "operation": "ListTopics",
        "TopicArn": "",
        "Label": "",
        "AWSAccountId": "",
        "ActionName": "",
        "phoneNumber": "",
        "Token": "",
        "Name": "",
        "Platform": "",
        "Attributes": "",
        "PlatformApplicationArn": "",
        "EndpointArn": "",
        "SubscriptionArn": "",
        "Message": "",
        "attributes": "",
        "AttributeName": "",
        "Protocol": "",
        "name": "",
        "x": 380,
        "y": 255,
        "wires": [
            [
                "7ee30819.8cf358"
            ]
        ]
    },
    {
        "id": "78c4e4ac.1a6b6c",
        "type": "AWS SQS",
        "z": "f95fc314.4636b",
        "aws": "d1cbc8ff.c2fcb8",
        "operation": "ListQueues",
        "QueueUrl": "",
        "Label": "",
        "AWSAccountIds": "",
        "Actions": "",
        "ReceiptHandle": "",
        "VisibilityTimeout": "",
        "Entries": "",
        "QueueName": "",
        "MessageBody": "",
        "Attributes": "",
        "Tags": "",
        "TagKeys": "",
        "name": "",
        "x": 390,
        "y": 295,
        "wires": [
            [
                "7463c021.b422e"
            ]
        ]
    },
    {
        "id": "7688e9fc.b24418",
        "type": "AWS RDS",
        "z": "f95fc314.4636b",
        "aws": "d1cbc8ff.c2fcb8",
        "operation": "DescribeDBClusters",
        "DBClusterIdentifier": "",
        "RoleArn": "",
        "SubscriptionName": "",
        "SourceIdentifier": "",
        "ResourceName": "",
        "Tags": "",
        "ResourceIdentifier": "",
        "ApplyAction": "",
        "OptInType": "",
        "DBSecurityGroupName": "",
        "SourceDBClusterParameterGroupIdentifier": "",
        "TargetDBClusterParameterGroupIdentifier": "",
        "TargetDBClusterParameterGroupDescription": "",
        "SourceDBClusterSnapshotIdentifier": "",
        "TargetDBClusterSnapshotIdentifier": "",
        "SourceDBParameterGroupIdentifier": "",
        "TargetDBParameterGroupIdentifier": "",
        "TargetDBParameterGroupDescription": "",
        "SourceDBSnapshotIdentifier": "",
        "TargetDBSnapshotIdentifier": "",
        "SourceOptionGroupIdentifier": "",
        "TargetOptionGroupIdentifier": "",
        "TargetOptionGroupDescription": "",
        "Engine": "",
        "DBClusterParameterGroupName": "",
        "DBParameterGroupFamily": "",
        "Description": "",
        "DBClusterSnapshotIdentifier": "",
        "DBInstanceIdentifier": "",
        "DBInstanceClass": "",
        "SourceDBInstanceIdentifier": "",
        "DBParameterGroupName": "",
        "DBSecurityGroupDescription": "",
        "DBSnapshotIdentifier": "",
        "DBSubnetGroupName": "",
        "DBSubnetGroupDescription": "",
        "SubnetIds": "",
        "SnsTopicArn": "",
        "OptionGroupName": "",
        "EngineName": "",
        "MajorEngineVersion": "",
        "OptionGroupDescription": "",
        "LogFileName": "",
        "Parameters": "",
        "AttributeName": "",
        "ReservedDBInstancesOfferingId": "",
        "TagKeys": "",
        "MasterUsername": "",
        "MasterUserPassword": "",
        "SourceEngine": "",
        "SourceEngineVersion": "",
        "S3BucketName": "",
        "S3IngestionRoleArn": "",
        "SnapshotIdentifier": "",
        "SourceDBClusterIdentifier": "",
        "TargetDBInstanceIdentifier": "",
        "name": "",
        "x": 410,
        "y": 335,
        "wires": [
            [
                "a64c2fe.95426d"
            ]
        ]
    },
    {
        "id": "e5a7d816.a06358",
        "type": "AWS Firehose",
        "z": "f95fc314.4636b",
        "aws": "d1cbc8ff.c2fcb8",
        "operation": "ListDeliveryStreams",
        "DeliveryStreamName": "",
        "Record": "",
        "Records": "",
        "CurrentDeliveryStreamVersionId": "",
        "DestinationId": "",
        "name": "",
        "x": 420,
        "y": 375,
        "wires": [
            [
                "88652970.dd7b18"
            ]
        ]
    },
    {
        "id": "da3442d3.67bac",
        "type": "AWS Iot",
        "z": "f95fc314.4636b",
        "aws": "d1cbc8ff.c2fcb8",
        "operation": "ListThings",
        "certificateId": "",
        "targets": "",
        "jobId": "",
        "policyName": "",
        "target": "",
        "principal": "",
        "thingName": "",
        "authorizerName": "",
        "authorizerFunctionArn": "",
        "tokenKeyName": "",
        "tokenSigningPublicKeys": "",
        "certificateSigningRequest": "",
        "otaUpdateId": "",
        "files": "",
        "roleArn": "",
        "policyDocument": "",
        "roleAlias": "",
        "streamId": "",
        "thingGroupName": "",
        "thingTypeName": "",
        "ruleName": "",
        "topicRulePayload": "",
        "policyVersionId": "",
        "targetType": "",
        "targetName": "",
        "indexName": "",
        "taskId": "",
        "caCertificateId": "",
        "reportType": "",
        "caCertificate": "",
        "verificationCertificate": "",
        "certificatePem": "",
        "templateBody": "",
        "queryString": "",
        "loggingOptionsPayload": "",
        "logTarget": "",
        "logLevel": "",
        "inputFileBucket": "",
        "inputFileKey": "",
        "authInfos": "",
        "token": "",
        "tokenSignature": "",
        "targetAwsAccount": "",
        "newStatus": "",
        "thingGroupProperties": "",
        "name": "",
        "x": 370,
        "y": 415,
        "wires": [
            [
                "77fefb7a.a78884"
            ]
        ]
    },
    {
        "id": "c5e63362.33ab1",
        "type": "AWS IotData",
        "z": "f95fc314.4636b",
        "aws": "d1cbc8ff.c2fcb8",
        "operation": "UpdateThingShadow",
        "thingName": "",
        "topic": "",
        "payload": "",
        "name": "",
        "x": 420,
        "y": 455,
        "wires": [
            []
        ]
    },
    {
        "id": "7a8ac6e8.811308",
        "type": "AWS KMS",
        "z": "f95fc314.4636b",
        "aws": "d1cbc8ff.c2fcb8",
        "operation": "ListKeys",
        "KeyId": "",
        "AliasName": "",
        "TargetKeyId": "",
        "GranteePrincipal": "",
        "Operations": "",
        "CiphertextBlob": "",
        "Plaintext": "",
        "PolicyName": "",
        "WrappingAlgorithm": "",
        "WrappingKeySpec": "",
        "ImportToken": "",
        "EncryptedKeyMaterial": "",
        "RetiringPrincipal": "",
        "Policy": "",
        "DestinationKeyId": "",
        "GrantId": "",
        "Tags": "",
        "TagKeys": "",
        "Description": "",
        "name": "",
        "x": 380,
        "y": 495,
        "wires": [
            [
                "2b457e5f.4a4332"
            ]
        ]
    },
    {
        "id": "804ff88f.dde3c8",
        "type": "AWS ES",
        "z": "f95fc314.4636b",
        "aws": "d1cbc8ff.c2fcb8",
        "operation": "ListDomainNames",
        "ARN": "",
        "TagList": "",
        "DomainName": "",
        "DomainNames": "",
        "InstanceType": "",
        "ElasticsearchVersion": "",
        "TagKeys": "",
        "name": "",
        "x": 400,
        "y": 615,
        "wires": [
            [
                "e4d80d59.3e75b"
            ]
        ]
    },
    {
        "id": "1dab2fd1.b3b04",
        "type": "AWS Rekognition",
        "z": "f95fc314.4636b",
        "aws": "d1cbc8ff.c2fcb8",
        "operation": "ListCollections",
        "SourceImage": "",
        "TargetImage": "",
        "CollectionId": "",
        "Input": "",
        "Output": "",
        "Name": "",
        "Settings": "",
        "RoleArn": "",
        "FaceIds": "",
        "Image": "",
        "Id": "",
        "JobId": "",
        "FaceId": "",
        "Video": "",
        "name": "",
        "x": 420,
        "y": 655,
        "wires": [
            [
                "1e420d85.a82b92"
            ]
        ]
    },
    {
        "id": "13cf949b.7107bb",
        "type": "AWS Polly",
        "z": "f95fc314.4636b",
        "aws": "d1cbc8ff.c2fcb8",
        "operation": "ListLexicons",
        "Name": "",
        "Content": "",
        "OutputFormat": "",
        "Text": "",
        "VoiceId": "",
        "name": "",
        "x": 390,
        "y": 575,
        "wires": [
            [
                "d0d9c7ec.4c9048"
            ]
        ]
    },
    {
        "id": "7181d2f1.dc45fc",
        "type": "AWS Ecs",
        "z": "f95fc314.4636b",
        "aws": "d1cbc8ff.c2fcb8",
        "operation": "ListClusters",
        "serviceName": "",
        "taskDefinition": "",
        "desiredCount": "",
        "attributes": "",
        "cluster": "",
        "service": "",
        "containerInstance": "",
        "containerInstances": "",
        "services": "",
        "tasks": "",
        "targetType": "",
        "family": "",
        "containerDefinitions": "",
        "task": "",
        "status": "",
        "name": "",
        "x": 380,
        "y": 535,
        "wires": [
            [
                "94135c9.1cb22a"
            ]
        ]
    },
    {
        "id": "e9fdb11e.be64a",
        "type": "comment",
        "z": "f95fc314.4636b",
        "name": "No Simple Test",
        "info": "",
        "x": 632.0000095367432,
        "y": 456.00000953674316,
        "wires": []
    },
    {
        "id": "c49ee7a3.c9fe78",
        "type": "comment",
        "z": "f95fc314.4636b",
        "name": "Simple Test Cases",
        "info": "Test Cases\n----\n\nThese are the simplest test cases possible, all nodes \nshould be represented, calling a function which does\nnot require any arguments.\n\n",
        "x": 130,
        "y": 235,
        "wires": []
    },
    {
        "id": "48e1c34c.1c1fbc",
        "type": "debug",
        "z": "f95fc314.4636b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 722.0000095367432,
        "y": 96.00000953674316,
        "wires": []
    },
    {
        "id": "d809bf2d.0ffc7",
        "type": "debug",
        "z": "f95fc314.4636b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 722.0000095367432,
        "y": 56.000009536743164,
        "wires": []
    },
    {
        "id": "fc8c0fa6.c8526",
        "type": "debug",
        "z": "f95fc314.4636b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 722.0000095367432,
        "y": 176.00000953674316,
        "wires": []
    },
    {
        "id": "85f8e747.cdb1f8",
        "type": "debug",
        "z": "f95fc314.4636b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 722.0000095367432,
        "y": 136.00000953674316,
        "wires": []
    },
    {
        "id": "a64c2fe.95426d",
        "type": "debug",
        "z": "f95fc314.4636b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 722.0000095367432,
        "y": 336.00000953674316,
        "wires": []
    },
    {
        "id": "7463c021.b422e",
        "type": "debug",
        "z": "f95fc314.4636b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 722.0000095367432,
        "y": 296.00000953674316,
        "wires": []
    },
    {
        "id": "7ee30819.8cf358",
        "type": "debug",
        "z": "f95fc314.4636b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 722.0000095367432,
        "y": 256.00000953674316,
        "wires": []
    },
    {
        "id": "68e46321.24269c",
        "type": "debug",
        "z": "f95fc314.4636b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 721.000020980835,
        "y": 215.00001335144043,
        "wires": []
    },
    {
        "id": "2b457e5f.4a4332",
        "type": "debug",
        "z": "f95fc314.4636b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 722.0000095367432,
        "y": 496.00000953674316,
        "wires": []
    },
    {
        "id": "77fefb7a.a78884",
        "type": "debug",
        "z": "f95fc314.4636b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 722.0000095367432,
        "y": 416.00000953674316,
        "wires": []
    },
    {
        "id": "88652970.dd7b18",
        "type": "debug",
        "z": "f95fc314.4636b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 722.0000095367432,
        "y": 376.00000953674316,
        "wires": []
    },
    {
        "id": "1e420d85.a82b92",
        "type": "debug",
        "z": "f95fc314.4636b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 721.0000095367432,
        "y": 656.0000095367432,
        "wires": []
    },
    {
        "id": "e4d80d59.3e75b",
        "type": "debug",
        "z": "f95fc314.4636b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 722.0000095367432,
        "y": 616.0000095367432,
        "wires": []
    },
    {
        "id": "d0d9c7ec.4c9048",
        "type": "debug",
        "z": "f95fc314.4636b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 722.0000095367432,
        "y": 576.0000095367432,
        "wires": []
    },
    {
        "id": "94135c9.1cb22a",
        "type": "debug",
        "z": "f95fc314.4636b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 720.0000114440918,
        "y": 536.0000076293945,
        "wires": []
    },
    {
        "id": "218a29a7.026786",
        "type": "AWS ResourceGroupsTaggingAPI",
        "z": "f95fc314.4636b",
        "aws": "bec2452f.03a118",
        "operation": "GetResources",
        "Key": "",
        "ResourceARNList": "",
        "Tags": "",
        "TagKeys": "",
        "name": "",
        "x": 466.6999969482422,
        "y": 697.0000104904175,
        "wires": [
            [
                "3f6cfa1.0393206"
            ]
        ]
    },
    {
        "id": "3f6cfa1.0393206",
        "type": "debug",
        "z": "f95fc314.4636b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 722.0000095367432,
        "y": 696.0000104904175,
        "wires": []
    },
    {
        "id": "bec2452f.03a118",
        "type": "amazon config",
        "z": "",
        "name": "AWS",
        "region": "us-east-1",
        "proxyRequired": true,
        "proxy": "http://172.17.0.1:3128"
    },
    {
        "id": "d1cbc8ff.c2fcb8",
        "type": "amazon config",
        "z": "",
        "name": "AWS",
        "region": "us-east-1"
    }
]