tests/SimpleTests.txt
[
    {
        "id": "7e647540.3e951c",
        "type": "inject",
        "z": "3bec2f85.f17ca",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 480,
        "wires": [
            [
                "b5e7766e.0bbb18",
                "b4a7d84f.61b6a8",
                "5ed5120f.3d05ac",
                "6ca196a3.07c868",
                "824a85e9.0f7008",
                "cb8d2edc.99d26",
                "361b781e.1005c8",
                "caad9c6b.ba664",
                "22a1c5c.6910e3a",
                "b2d7ee05.218c9",
                "7d7e856b.81ad9c",
                "df7d467e.04caf8",
                "60540b40.b16874",
                "3f385648.d218ca",
                "c3666c04.fffd4"
            ]
        ]
    },
    {
        "id": "b5e7766e.0bbb18",
        "type": "AWS EC2",
        "z": "3bec2f85.f17ca",
        "aws": "2c25ca24.67df66",
        "operation": "DescribeInstances",
        "ReservedInstanceIds": "",
        "ServiceId": "",
        "VpcEndpointIds": "",
        "AvailabilityZone": "",
        "InstanceType": "",
        "Quantity": "",
        "NetworkInterfaceId": "",
        "DhcpOptionsId": "",
        "VpcId": "",
        "IamInstanceProfile": "",
        "InstanceId": "",
        "RouteTableId": "",
        "SubnetId": "",
        "Ipv6CidrBlock": "",
        "Groups": "",
        "InternetGatewayId": "",
        "DeviceIndex": "",
        "Device": "",
        "VolumeId": "",
        "VpnGatewayId": "",
        "GroupId": "",
        "Storage": "",
        "BundleId": "",
        "ConversionTaskId": "",
        "ExportTaskId": "",
        "ReservedInstancesListingId": "",
        "SpotFleetRequestIds": "",
        "TerminateInstances": "",
        "SpotInstanceRequestIds": "",
        "ProductCode": "",
        "SourceFpgaImageId": "",
        "SourceRegion": "",
        "Name": "",
        "SourceImageId": "",
        "SourceSnapshotId": "",
        "BgpAsn": "",
        "PublicIp": "",
        "Type": "",
        "DhcpConfigurations": "",
        "DeliverLogsPermissionArn": "",
        "LogGroupName": "",
        "ResourceIds": "",
        "ResourceType": "",
        "TrafficType": "",
        "InputStorageLocation": "",
        "KeyName": "",
        "LaunchTemplateName": "",
        "LaunchTemplateData": "",
        "AllocationId": "",
        "Egress": "",
        "NetworkAclId": "",
        "Protocol": "",
        "RuleAction": "",
        "RuleNumber": "",
        "Permission": "",
        "GroupName": "",
        "Strategy": "",
        "ClientToken": "",
        "InstanceCount": "",
        "PriceSchedules": "",
        "ReservedInstancesId": "",
        "Description": "",
        "Bucket": "",
        "CidrBlock": "",
        "Resources": "",
        "Tags": "",
        "ServiceName": "",
        "ConnectionNotificationArn": "",
        "ConnectionEvents": "",
        "NetworkLoadBalancerArns": "",
        "CustomerGatewayId": "",
        "DestinationCidrBlock": "",
        "VpnConnectionId": "",
        "EgressOnlyInternetGatewayId": "",
        "FlowLogIds": "",
        "FpgaImageId": "",
        "Versions": "",
        "NatGatewayId": "",
        "NetworkInterfacePermissionId": "",
        "SnapshotId": "",
        "ConnectionNotificationIds": "",
        "ServiceIds": "",
        "VpcPeeringConnectionId": "",
        "ImageId": "",
        "Attribute": "",
        "PrincipalArn": "",
        "FirstSlotStartTimeRange": "",
        "Recurrence": "",
        "SpotFleetRequestId": "",
        "StartTime": "",
        "AttachmentId": "",
        "GatewayId": "",
        "AssociationId": "",
        "HostIdSet": "",
        "OfferingId": "",
        "Platform": "",
        "PublicKeyMaterial": "",
        "Image": "",
        "Volume": "",
        "AutoPlacement": "",
        "HostIds": "",
        "Resource": "",
        "UseLongIds": "",
        "InstanceCreditSpecifications": "",
        "ReservedInstancesIds": "",
        "TargetConfigurations": "",
        "VpcEndpointId": "",
        "ConnectionNotificationId": "",
        "InstanceTenancy": "",
        "InstanceIds": "",
        "ReservedInstancesOfferingId": "",
        "PurchaseRequests": "",
        "Instances": "",
        "ReasonCodes": "",
        "Status": "",
        "SpotFleetRequestConfig": "",
        "MaxCount": "",
        "MinCount": "",
        "LaunchSpecification": "",
        "ScheduledInstanceId": "",
        "Ipv6Addresses": "",
        "PrivateIpAddresses": "",
        "IpPermissions": "",
        "name": "",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "dc87fb05.0ae058"
            ]
        ]
    },
    {
        "id": "b4a7d84f.61b6a8",
        "type": "AWS Kinesis",
        "z": "3bec2f85.f17ca",
        "aws": "2c25ca24.67df66",
        "operation": "ListStreams",
        "StreamName": "",
        "Tags": "",
        "ShardCount": "",
        "RetentionPeriodHours": "",
        "ShardLevelMetrics": "",
        "ShardIterator": "",
        "ShardId": "",
        "ShardIteratorType": "",
        "ShardToMerge": "",
        "AdjacentShardToMerge": "",
        "Data": "",
        "PartitionKey": "",
        "Records": "",
        "TagKeys": "",
        "ShardToSplit": "",
        "NewStartingHashKey": "",
        "EncryptionType": "",
        "KeyId": "",
        "TargetShardCount": "",
        "ScalingType": "",
        "name": "",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "24e241c7.b72b5e"
            ]
        ]
    },
    {
        "id": "5ed5120f.3d05ac",
        "type": "AWS Lambda",
        "z": "3bec2f85.f17ca",
        "aws": "2c25ca24.67df66",
        "operation": "ListFunctions",
        "FunctionName": "",
        "StatementId": "",
        "Action": "",
        "Principal": "",
        "Name": "",
        "FunctionVersion": "",
        "EventSourceArn": "",
        "StartingPosition": "",
        "Runtime": "",
        "Role": "",
        "Handler": "",
        "Code": "",
        "UUID": "",
        "InvokeArgs": "",
        "Resource": "",
        "ReservedConcurrentExecutions": "",
        "Tags": "",
        "TagKeys": "",
        "name": "",
        "x": 380,
        "y": 200,
        "wires": [
            [
                "4a51fd39.0baf64"
            ]
        ]
    },
    {
        "id": "6ca196a3.07c868",
        "type": "AWS S3",
        "z": "3bec2f85.f17ca",
        "aws": "2c25ca24.67df66",
        "operation": "ListBuckets",
        "Bucket": "",
        "Key": "",
        "UploadId": "",
        "CopySource": "",
        "Id": "",
        "Delete": "",
        "AccelerateConfiguration": "",
        "AnalyticsConfiguration": "",
        "CORSConfiguration": "",
        "ServerSideEncryptionConfiguration": "",
        "InventoryConfiguration": "",
        "BucketLoggingStatus": "",
        "MetricsConfiguration": "",
        "NotificationConfiguration": "",
        "Policy": "",
        "ReplicationConfiguration": "",
        "RequestPaymentConfiguration": "",
        "Tagging": "",
        "VersioningConfiguration": "",
        "WebsiteConfiguration": "",
        "PartNumber": "",
        "name": "",
        "x": 360,
        "y": 240,
        "wires": [
            [
                "87aab718.2f3008"
            ]
        ]
    },
    {
        "id": "824a85e9.0f7008",
        "type": "AWS DynamoDB",
        "z": "3bec2f85.f17ca",
        "aws": "2c25ca24.67df66",
        "operation": "ListTables",
        "RequestItems": "",
        "TableName": "",
        "BackupName": "",
        "GlobalTableName": "",
        "ReplicationGroup": "",
        "AttributeDefinitions": "",
        "KeySchema": "",
        "ProvisionedThroughput": "",
        "BackupArn": "",
        "Key": "",
        "ResourceArn": "",
        "Item": "",
        "TargetTableName": "",
        "Tags": "",
        "TagKeys": "",
        "ReplicaUpdates": "",
        "TimeToLiveSpecification": "",
        "name": "",
        "x": 380,
        "y": 280,
        "wires": [
            [
                "1a12ff21.0ca1a1"
            ]
        ]
    },
    {
        "id": "cb8d2edc.99d26",
        "type": "AWS SNS",
        "z": "3bec2f85.f17ca",
        "aws": "2c25ca24.67df66",
        "operation": "ListTopics",
        "TopicArn": "",
        "Label": "",
        "AWSAccountId": "",
        "ActionName": "",
        "phoneNumber": "",
        "Token": "",
        "Name": "",
        "Platform": "",
        "Attributes": "",
        "PlatformApplicationArn": "",
        "EndpointArn": "",
        "SubscriptionArn": "",
        "Message": "",
        "attributes": "",
        "AttributeName": "",
        "Protocol": "",
        "name": "",
        "x": 360,
        "y": 320,
        "wires": [
            [
                "fa128eb5.e9cb"
            ]
        ]
    },
    {
        "id": "361b781e.1005c8",
        "type": "AWS SQS",
        "z": "3bec2f85.f17ca",
        "aws": "2c25ca24.67df66",
        "operation": "ListQueues",
        "QueueUrl": "",
        "Label": "",
        "AWSAccountIds": "",
        "Actions": "",
        "ReceiptHandle": "",
        "VisibilityTimeout": "",
        "Entries": "",
        "QueueName": "",
        "MessageBody": "",
        "Attributes": "",
        "Tags": "",
        "TagKeys": "",
        "name": "",
        "x": 370,
        "y": 360,
        "wires": [
            [
                "31140357.554dec"
            ]
        ]
    },
    {
        "id": "caad9c6b.ba664",
        "type": "AWS RDS",
        "z": "3bec2f85.f17ca",
        "aws": "2c25ca24.67df66",
        "operation": "DescribeDBClusters",
        "DBClusterIdentifier": "",
        "RoleArn": "",
        "SubscriptionName": "",
        "SourceIdentifier": "",
        "ResourceName": "",
        "Tags": "",
        "ResourceIdentifier": "",
        "ApplyAction": "",
        "OptInType": "",
        "DBSecurityGroupName": "",
        "SourceDBClusterParameterGroupIdentifier": "",
        "TargetDBClusterParameterGroupIdentifier": "",
        "TargetDBClusterParameterGroupDescription": "",
        "SourceDBClusterSnapshotIdentifier": "",
        "TargetDBClusterSnapshotIdentifier": "",
        "SourceDBParameterGroupIdentifier": "",
        "TargetDBParameterGroupIdentifier": "",
        "TargetDBParameterGroupDescription": "",
        "SourceDBSnapshotIdentifier": "",
        "TargetDBSnapshotIdentifier": "",
        "SourceOptionGroupIdentifier": "",
        "TargetOptionGroupIdentifier": "",
        "TargetOptionGroupDescription": "",
        "Engine": "",
        "DBClusterParameterGroupName": "",
        "DBParameterGroupFamily": "",
        "Description": "",
        "DBClusterSnapshotIdentifier": "",
        "DBInstanceIdentifier": "",
        "DBInstanceClass": "",
        "SourceDBInstanceIdentifier": "",
        "DBParameterGroupName": "",
        "DBSecurityGroupDescription": "",
        "DBSnapshotIdentifier": "",
        "DBSubnetGroupName": "",
        "DBSubnetGroupDescription": "",
        "SubnetIds": "",
        "SnsTopicArn": "",
        "OptionGroupName": "",
        "EngineName": "",
        "MajorEngineVersion": "",
        "OptionGroupDescription": "",
        "LogFileName": "",
        "Parameters": "",
        "AttributeName": "",
        "ReservedDBInstancesOfferingId": "",
        "TagKeys": "",
        "MasterUsername": "",
        "MasterUserPassword": "",
        "SourceEngine": "",
        "SourceEngineVersion": "",
        "S3BucketName": "",
        "S3IngestionRoleArn": "",
        "SnapshotIdentifier": "",
        "SourceDBClusterIdentifier": "",
        "TargetDBInstanceIdentifier": "",
        "name": "",
        "x": 390,
        "y": 400,
        "wires": [
            [
                "dd02ae56.d68ef"
            ]
        ]
    },
    {
        "id": "22a1c5c.6910e3a",
        "type": "AWS Firehose",
        "z": "3bec2f85.f17ca",
        "aws": "2c25ca24.67df66",
        "operation": "ListDeliveryStreams",
        "DeliveryStreamName": "",
        "Record": "",
        "Records": "",
        "CurrentDeliveryStreamVersionId": "",
        "DestinationId": "",
        "name": "",
        "x": 400,
        "y": 440,
        "wires": [
            [
                "1b9ebc5b.585494"
            ]
        ]
    },
    {
        "id": "b2d7ee05.218c9",
        "type": "AWS Iot",
        "z": "3bec2f85.f17ca",
        "aws": "2c25ca24.67df66",
        "operation": "ListThings",
        "certificateId": "",
        "targets": "",
        "jobId": "",
        "policyName": "",
        "target": "",
        "principal": "",
        "thingName": "",
        "authorizerName": "",
        "authorizerFunctionArn": "",
        "tokenKeyName": "",
        "tokenSigningPublicKeys": "",
        "certificateSigningRequest": "",
        "otaUpdateId": "",
        "files": "",
        "roleArn": "",
        "policyDocument": "",
        "roleAlias": "",
        "streamId": "",
        "thingGroupName": "",
        "thingTypeName": "",
        "ruleName": "",
        "topicRulePayload": "",
        "policyVersionId": "",
        "targetType": "",
        "targetName": "",
        "indexName": "",
        "taskId": "",
        "caCertificateId": "",
        "reportType": "",
        "caCertificate": "",
        "verificationCertificate": "",
        "certificatePem": "",
        "templateBody": "",
        "queryString": "",
        "loggingOptionsPayload": "",
        "logTarget": "",
        "logLevel": "",
        "inputFileBucket": "",
        "inputFileKey": "",
        "authInfos": "",
        "token": "",
        "tokenSignature": "",
        "targetAwsAccount": "",
        "newStatus": "",
        "thingGroupProperties": "",
        "name": "",
        "x": 350,
        "y": 480,
        "wires": [
            [
                "d66684a5.99fcd8"
            ]
        ]
    },
    {
        "id": "2ea6ed09.66c7f2",
        "type": "AWS IotData",
        "z": "3bec2f85.f17ca",
        "aws": "2c25ca24.67df66",
        "operation": "UpdateThingShadow",
        "thingName": "",
        "topic": "",
        "payload": "",
        "name": "",
        "x": 400,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "7d7e856b.81ad9c",
        "type": "AWS KMS",
        "z": "3bec2f85.f17ca",
        "aws": "2c25ca24.67df66",
        "operation": "ListKeys",
        "KeyId": "",
        "AliasName": "",
        "TargetKeyId": "",
        "GranteePrincipal": "",
        "Operations": "",
        "CiphertextBlob": "",
        "Plaintext": "",
        "PolicyName": "",
        "WrappingAlgorithm": "",
        "WrappingKeySpec": "",
        "ImportToken": "",
        "EncryptedKeyMaterial": "",
        "RetiringPrincipal": "",
        "Policy": "",
        "DestinationKeyId": "",
        "GrantId": "",
        "Tags": "",
        "TagKeys": "",
        "Description": "",
        "name": "",
        "x": 360,
        "y": 560,
        "wires": [
            [
                "3e78f833.85e6c8"
            ]
        ]
    },
    {
        "id": "3f385648.d218ca",
        "type": "AWS ES",
        "z": "3bec2f85.f17ca",
        "aws": "2c25ca24.67df66",
        "operation": "ListDomainNames",
        "ARN": "",
        "TagList": "",
        "DomainName": "",
        "DomainNames": "",
        "InstanceType": "",
        "ElasticsearchVersion": "",
        "TagKeys": "",
        "name": "",
        "x": 380,
        "y": 680,
        "wires": [
            [
                "fae024f9.826ac8"
            ]
        ]
    },
    {
        "id": "c3666c04.fffd4",
        "type": "AWS Rekognition",
        "z": "3bec2f85.f17ca",
        "aws": "2c25ca24.67df66",
        "operation": "ListCollections",
        "SourceImage": "",
        "TargetImage": "",
        "CollectionId": "",
        "Input": "",
        "Output": "",
        "Name": "",
        "Settings": "",
        "RoleArn": "",
        "FaceIds": "",
        "Image": "",
        "Id": "",
        "JobId": "",
        "FaceId": "",
        "Video": "",
        "name": "",
        "x": 400,
        "y": 720,
        "wires": [
            [
                "9bcc41d4.84c31"
            ]
        ]
    },
    {
        "id": "60540b40.b16874",
        "type": "AWS Polly",
        "z": "3bec2f85.f17ca",
        "aws": "2c25ca24.67df66",
        "operation": "ListLexicons",
        "Name": "",
        "Content": "",
        "OutputFormat": "",
        "Text": "",
        "VoiceId": "",
        "name": "",
        "x": 370,
        "y": 640,
        "wires": [
            [
                "97e3eb86.e07678"
            ]
        ]
    },
    {
        "id": "df7d467e.04caf8",
        "type": "AWS Ecs",
        "z": "3bec2f85.f17ca",
        "aws": "2c25ca24.67df66",
        "operation": "ListClusters",
        "serviceName": "",
        "taskDefinition": "",
        "desiredCount": "",
        "attributes": "",
        "cluster": "",
        "service": "",
        "containerInstance": "",
        "containerInstances": "",
        "services": "",
        "tasks": "",
        "targetType": "",
        "family": "",
        "containerDefinitions": "",
        "task": "",
        "status": "",
        "name": "",
        "x": 360,
        "y": 600,
        "wires": [
            [
                "8cef73d2.662c5"
            ]
        ]
    },
    {
        "id": "5eb87e3b.86de7",
        "type": "comment",
        "z": "3bec2f85.f17ca",
        "name": "No Simple Test",
        "info": "",
        "x": 580,
        "y": 520,
        "wires": []
    },
    {
        "id": "4a63a82e.077738",
        "type": "comment",
        "z": "3bec2f85.f17ca",
        "name": "Simple Test Cases",
        "info": "Test Cases\n----\n\nThese are the simplest test cases possible, all nodes \nshould be represented, calling a function which does\nnot require any arguments.\n\n",
        "x": 110,
        "y": 300,
        "wires": []
    },
    {
        "id": "24e241c7.b72b5e",
        "type": "debug",
        "z": "3bec2f85.f17ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "dc87fb05.0ae058",
        "type": "debug",
        "z": "3bec2f85.f17ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 670,
        "y": 120,
        "wires": []
    },
    {
        "id": "87aab718.2f3008",
        "type": "debug",
        "z": "3bec2f85.f17ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "4a51fd39.0baf64",
        "type": "debug",
        "z": "3bec2f85.f17ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 670,
        "y": 200,
        "wires": []
    },
    {
        "id": "dd02ae56.d68ef",
        "type": "debug",
        "z": "3bec2f85.f17ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 670,
        "y": 400,
        "wires": []
    },
    {
        "id": "31140357.554dec",
        "type": "debug",
        "z": "3bec2f85.f17ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 670,
        "y": 360,
        "wires": []
    },
    {
        "id": "fa128eb5.e9cb",
        "type": "debug",
        "z": "3bec2f85.f17ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "1a12ff21.0ca1a1",
        "type": "debug",
        "z": "3bec2f85.f17ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 670,
        "y": 280,
        "wires": []
    },
    {
        "id": "3e78f833.85e6c8",
        "type": "debug",
        "z": "3bec2f85.f17ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 670,
        "y": 560,
        "wires": []
    },
    {
        "id": "d66684a5.99fcd8",
        "type": "debug",
        "z": "3bec2f85.f17ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 670,
        "y": 480,
        "wires": []
    },
    {
        "id": "1b9ebc5b.585494",
        "type": "debug",
        "z": "3bec2f85.f17ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 670,
        "y": 440,
        "wires": []
    },
    {
        "id": "9bcc41d4.84c31",
        "type": "debug",
        "z": "3bec2f85.f17ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 670,
        "y": 720,
        "wires": []
    },
    {
        "id": "fae024f9.826ac8",
        "type": "debug",
        "z": "3bec2f85.f17ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 670,
        "y": 680,
        "wires": []
    },
    {
        "id": "97e3eb86.e07678",
        "type": "debug",
        "z": "3bec2f85.f17ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 670,
        "y": 640,
        "wires": []
    },
    {
        "id": "8cef73d2.662c5",
        "type": "debug",
        "z": "3bec2f85.f17ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 650,
        "y": 600,
        "wires": []
    },
    {
        "id": "2c25ca24.67df66",
        "type": "amazon config",
        "z": "",
        "name": "AWS",
        "region": "us-east-1"
    }
]
