examples/flow.json
[{"id":"d2d62054.74c64","type":"inject","z":"4ac4f123.3384f","name":"1) Every 5 Seconds","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":117.62699127197266,"y":39.69444274902344,"wires":[["54bf53e2.8a3e8c"]]},{"id":"54bf53e2.8a3e8c","type":"amazon sqs","z":"4ac4f123.3384f","aws":"165ba73b.f06f49","region":"","operation":"receive","queuename":"https://sqs.us-east-1.amazonaws.com/485867510643/incomingTransaction","name":"2a) SQS Retrieve Order","x":369.8215026855469,"y":40.785736083984375,"wires":[["a56aa22f.b6551"]]},{"id":"6b3d341d.1291fc","type":"amazon dynamodb","z":"4ac4f123.3384f","aws":"165ba73b.f06f49","region":"","operation":"put","tablename":"orders","name":"8b) Save to Dynamo","x":776.1826477050781,"y":380.4722137451172,"wires":[["cc2fda09.bac5b8"]]},{"id":"e7ff997d.163be8","type":"switch","z":"4ac4f123.3384f","name":"5) Value >= 1000","property":"object.value","propertyType":"msg","rules":[{"t":"gte","v":"1000","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":198.015869140625,"y":300.390869140625,"wires":[["f6b2e167.8d2ef","842e8b7f.098548"],["3ccba6d1.0b500a"]]},{"id":"b9c5051f.8e02e8","type":"amazon sqs","z":"4ac4f123.3384f","aws":"165ba73b.f06f49","region":"","operation":"send","queuename":"https://sqs.us-east-1.amazonaws.com/485867510643/highValueTransaction","name":"7b) SQS Push High Value","x":767.0159301757812,"y":320.8035888671875,"wires":[["cc2fda09.bac5b8"]]},{"id":"a0467f79.5f5fd","type":"amazon lambda","z":"4ac4f123.3384f","aws":"165ba73b.f06f49","region":"","operation":"invoke","functionname":"addTax","name":"4a) Lambda - Add Taxes","x":201.0238800048828,"y":199.28176879882812,"wires":[["eb9ef7bb.499f88"]]},{"id":"2e1b5b7a.459654","type":"inject","z":"4ac4f123.3384f","name":"High test transaction","topic":"","payload":"{\"id\":\"order-2\",\"items\": [\"e\",\"Bf\",\"Dg\"], \"value\": \"1000.00\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":152.0238037109375,"y":611.2004089355469,"wires":[["e825f7e6.4796f8"]]},{"id":"5e1244e1.efb69c","type":"amazon sqs","z":"4ac4f123.3384f","aws":"165ba73b.f06f49","region":"","operation":"send","queuename":"https://sqs.us-east-1.amazonaws.com/485867510643/incomingTransaction","name":"","x":505.7758483886719,"y":656.3055725097656,"wires":[[]]},{"id":"fd3f432a.121cf","type":"amazon sqs","z":"4ac4f123.3384f","aws":"165ba73b.f06f49","region":"","operation":"delete","queuename":"https://sqs.us-east-1.amazonaws.com/485867510643/incomingTransaction","name":"9b) Detele From SQS Queue","x":804.5218620300293,"y":477.5496292114258,"wires":[[]]},{"id":"4a604e14.b5a25","type":"amazon s3","z":"4ac4f123.3384f","aws":"165ba73b.f06f49","region":"","operation":"put","bucketname":"orderbucket","keyname":"","name":"3) Save Orginal to S3","x":532.9285888671875,"y":125.83334350585938,"wires":[[]]},{"id":"e825f7e6.4796f8","type":"json","z":"4ac4f123.3384f","name":"","x":343.0361328125,"y":633.68505859375,"wires":[["5e1244e1.efb69c"]]},{"id":"2f05bd01.2c2e82","type":"function","z":"4ac4f123.3384f","name":"2c) Setup Variables","func":"msg.Message=msg.payload.Messages[0];\nmsg.object=JSON.parse(msg.Message.Body);\nmsg.payload=msg.Message.Body;\nmsg.recieptId=msg.Message.ReceiptHandle;\n\nmsg.key=msg.object.id;\n\nreturn msg;","outputs":1,"noerr":0,"x":213.28857421875,"y":124.08935546875,"wires":[["a0467f79.5f5fd","4a604e14.b5a25"]]},{"id":"eb9ef7bb.499f88","type":"function","z":"4ac4f123.3384f","name":"4b) Update Object","func":"msg.object=JSON.parse(msg.payload.Payload);\nreturn msg;","outputs":1,"noerr":0,"x":515.62890625,"y":186.0234375,"wires":[["e7ff997d.163be8"]]},{"id":"f6b2e167.8d2ef","type":"change","z":"4ac4f123.3384f","name":"6a) Msg: High Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"High Value Transaction","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":536.623046875,"y":263.00390625,"wires":[["b9c2e0c.d5dc92"]]},{"id":"b9c2e0c.d5dc92","type":"amazon sns","z":"4ac4f123.3384f","aws":"165ba73b.f06f49","region":"","operation":"publishTopic","arn":"arn:aws:sns:us-east-1:485867510643:orderAlerts","name":"6b) SNS Alert","x":737.380859375,"y":265.375,"wires":[[]]},{"id":"3ccba6d1.0b500a","type":"function","z":"4ac4f123.3384f","name":"8a) Build Dynamo Object","func":"var out={\n    orderID: { \"S\": msg.object.id },\n    data: { \"S\": msg.payload.Payload }\n} ;\n\nmsg.payload=out;\n\nreturn msg;","outputs":1,"noerr":0,"x":518.4463806152344,"y":380.1067657470703,"wires":[["6b3d341d.1291fc"]]},{"id":"cc2fda09.bac5b8","type":"change","z":"4ac4f123.3384f","name":"9a) Set ReceiptId","rules":[{"t":"set","p":"payload","pt":"msg","to":"recieptId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":517.5000152587891,"y":477.50000524520874,"wires":[["fd3f432a.121cf"]]},{"id":"842e8b7f.098548","type":"change","z":"4ac4f123.3384f","name":"7a) Ready Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":526.5,"y":320.5,"wires":[["b9c5051f.8e02e8"]]},{"id":"a56aa22f.b6551","type":"switch","z":"4ac4f123.3384f","name":"2b) Check Results","property":"payload.Messages","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":604,"y":40.5,"wires":[[],["2f05bd01.2c2e82"]]},{"id":"ebb170cb.df59a","type":"inject","z":"4ac4f123.3384f","name":"Border test transaction","topic":"","payload":"{\"id\":\"order-4\",\"items\": [\"e\",\"Bf\",\"Dg\"], \"value\": \"990.00\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":135.94444274902344,"y":671.1110992431641,"wires":[["e825f7e6.4796f8"]]},{"id":"f017942e.f587d8","type":"inject","z":"4ac4f123.3384f","name":"Low test transaction","topic":"","payload":"{\"id\":\"order-5\",\"items\": [\"e\",\"Bf\",\"Dg\"], \"value\": \"90.00\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":140.72222900390625,"y":736.1111145019531,"wires":[["e825f7e6.4796f8"]]},{"id":"165ba73b.f06f49","type":"aws-config","z":"","name":"AWS-withCreds","region":"us-east-1"}]
